$bodyFont: 'Segoe UI';
$white: #fafafa;
$text: rgba(#000000, 0.9);

$lightpink: #f2c2c2;
$pink: #f2a7a0;

$lightorange: #f27405;
$orange: #f25d07;
$darkorange: #bf3604;

$lightteal: #519da6;
$teal: #03738c;

$paleblue: #929EA6;
$lightblue: #6c92aa;
$blue: #035883;
$navyblue: #132640;
$darkblue: #04040D;

$lineHeight: 1.75;

body {
    font-family: $bodyFont;
    background-color: $white;
    line-height: $lineHeight !important;
    background-color: rgba($navyblue, 0.95) !important;
    color: $white !important;
}

.nav {
    background: rgba($darkblue, 0.5);
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: $lightpink !important;
    font-weight: 600 !important;
}

.nav a:hover {
    text-decoration: underline;
    color: $lightteal !important;
    font-weight: 600 !important;
}

section {
    background-color: rgba($lightblue, 0.5);
}

section h1 {
    font-size: x-large;
    color: $pink !important;
}

.gallery {
    background-color: rgba(#000, 0.9);
}

.gallery h1 {
    font-weight: 500;
    color: #fafafa;
}

.ant-divider {
    background-color: rgba(#fff, 0.5);
}
