$bodyFont: 'Segoe UI';
$white: #fafafa;
$text: rgba(#000000, 0.9);

$pink1: #f3dec6;
$pink2: #f2a7a0;
$pink3: #e3606a;

$gold1: #eac173;
$gold2: #e2bc69;

$lime1: #c6d1ab;
$lime2: #bcd084;
$lime3: #b8c059;

$cyan1: #7ed0de;
$cyan2: #59b3bd;
$cyan3: #17a3b0;

$blue1: #6c92aa;
$blue2: #3280ae;
$blue3: #035883;
$blue4: #132640;
$blue5: #04040D;

$purple1: #6e79a7;
$purple2: #565481;

$magenta: #ae5c99;

$lineHeight: 1.75;

body {
    font-family: $bodyFont;
    background-color: $white;
    line-height: $lineHeight !important;
    background-color: rgba($blue4, 0.95) !important;
    color: $white !important;
}

.nav {
    background: rgba($blue5, 0.5);
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: $pink1 !important;
    font-weight: 600 !important;
}

.nav a:hover {
    color: $cyan2 !important;
    font-weight: 600 !important;
}

section {
    background-color: rgba($blue1, 0.4);
}

section h1 {
    color: $pink2 !important;
}

#experience h3 {
    color: $gold1 !important;
}

#projects h3 {
    color: $lime2 !important;
}

#contact h3 {
    color: $white !important;
}

#emailIcon {
    color: $gold2;
}

#githubIcon {
    color: $lime3;
}

#linkedinIcon {
    color: $cyan2;
}

.gallery {
    background-color: rgba(#000, 0.9);
}

.gallery h1 {
    font-weight: 500;
    color: #fafafa;
}

.ant-divider {
    background-color: rgba(#fff, 0.5);
}
